<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- xmlns:th="http://www.w3.org/1999/html" -->

<th:block th:fragment="setContent(content)">

<head>
  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet">

  <!-- Custom style for this template -->
  <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vender/jquery/jquery.js}"></script>
  <script th:src="@{/venderbootstrap/js/bootstrap.bundle.js}"></script>

  <div class="container-fluid">
    <th:block th:replace = "${content}"></th:block>
  </div>

</head>
<body>

</body>
</th:block>
</html>

